<!-- Объявление типа документа -->
<!DOCTYPE html>

<!-- Начало HTML документа -->
<html lang="en">

<!-- Начало head документа, содержит метаинформацию о документе -->
<head>
    <!-- Установка кодировки символов документа -->
    <meta charset="UTF-8">
    <!-- Установка масштабирования документа для различных устройств -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Заголовок документа, отображается в закладке браузера -->
    <title>Berserk</title>
    <!-- Подключение внешнего CSS файла для оформления документа -->
    <link rel="stylesheet" href="static/style/arts.css">

<!-- Закрытие head документа -->
</head>

<!-- Начало тела документа -->
<body>
    <!-- Контейнер окна -->
    <div class="window">
        <!-- Контейнер рамки логотипа -->
        <div class="logoFrame">
            <!-- Логотип -->
            <img src="static/icons/logo.svg" alt="Логотип" class="logo">
            <!-- Кнопка -->
            <button class="aboutButton">ABOUT</button>
            <!-- Кнопка -->
            <button class="homeButton">HOME</button>
        </div>
        <!-- Контейнер главной рамки -->
        <div class="mainFrame">
            <!-- Контейнер подрамки -->
            <div class="subframe">
                <!-- Текст -->
                <div class="text-container">道</div>
                <!-- Картинка -->
                <img src="static/icons/guts.png" class="image-top-right">
                <!-- Текст -->
                <div class="text-bottom-left">GUTS</div>
                <!-- Текст -->
                <div class="text-bottom-center">Guts is the main character in the manga and anime "Berserk" created by Kentaro Miura. He's known for his exceptional combat skills, wielding a massive sword.</div>
            </div>
            <!-- Контейнер подрамки -->
            <div class="subframe">
                <!-- Текст -->
                <div class="text-container">夢</div>
                <!-- Картинка -->
                <img src="static/icons/griffith.png" class="image-top-right">
                <!-- Текст -->
                <div class="text-bottom-left">GRIFFITH</div>
                <!-- Текст -->
                <div class="text-bottom-center">Griffith is the charismatic leader of the "Band of the Hawk" in "Berserk." His ambition for greatness leads to betrayal and tragedy for himself and his comrades.</div>
            </div>
            <!-- Контейнер подрамки -->
            <div class="subframe">
                <!-- Текст -->
                <div class="text-container">愛</div>
                <!-- Картинка -->
                <img src="static/icons/caska.png" class="image-top-right">
                <!-- Текст -->
                <div class="text-bottom-left">CASKA</div>
                <!-- Текст -->
                <div class="text-bottom-center">Casca is a skilled warrior in "Berserk" who forms deep bonds with Guts and Griffith. Her journey is marked by resilience, trauma, and redemption.</div>
            </div>
        </div>
    </div>

<!-- Закрытие тела документа -->
</body>

<!-- Закрытие HTML документа -->
</html>