<!-- Объявление типа документа -->
<!DOCTYPE html>

<!-- Начало HTML документа -->
<html lang="en">

<!-- Начало head документа, содержит метаинформацию о документе -->
<head>
    <!-- Установка кодировки символов документа -->
    <meta charset="UTF-8">
    <!-- Установка масштабирования документа для различных устройств -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Заголовок документа, отображается в закладке браузера -->
    <title>Berserk</title>
    <!-- Подключение внешнего CSS файла для оформления документа -->
    <link rel="stylesheet" href="static/style/arts.css">

<!-- Закрытие head документа -->
</head>

<!-- Начало тела документа -->
<body>
</head>
<body>
    <div class="window">
        <div class="logoFrame">
            <img src="icons/logo.svg" alt="Логотип" class="logo">
            <button class="ArtsButton">ARTS</button>
            <button class="homeButton">HOME</button>
        </div>
        <div class="mainFrame">
            <div class="subframe">
                <div class="text-container">道</div>
                <div class="text-container black">KIRILL GORYACHKIN</div>
                <div class="buttons-frame">
                    <button onclick="window.location.href='ссылка_на_GitHub';"><img src="icons\git.png" alt="Image 1"></button>
                    <button onclick="window.location.href='ссылка_на_Telegram';"><img src="icons\telegram.png" alt="Image 2"></button>
                    <button onclick="window.location.href='mailto:ваш_адрес_электронной_почты';"><img src="icons\email.png" alt="Image 3"></button>
            </div>
            <div class="subframe">
                <div class="text-container">夢</div>
                <div class="text-container black">RUSLAN OSIPOV</div> 
                <div class="buttons-frame">
                    <button onclick="window.location.href='ссылка_на_GitHub';"><img src="icons\git.png" alt="Image 1"></button>
                    <button onclick="window.location.href='ссылка_на_Telegram';"><img src="icons\telegram.png" alt="Image 2"></button>
                    <button onclick="window.location.href='mailto:ваш_адрес_электронной_почты';"><img src="icons\email.png" alt="Image 3"></button>
                </div>
            </div>
            <div class="subframe">
                <div class="text-container">愛</div>
                <div class="text-container black">VENIAMIN BURLAKOV</div> 
                <div class="buttons-frame">
                    <button onclick="window.location.href='ссылка_на_GitHub';"><img src="icons\git.png" alt="Image 1"></button>
                    <button onclick="window.location.href='ссылка_на_Telegram';"><img src="icons\telegram.png" alt="Image 2"></button>
                    <button onclick="window.location.href='mailto:ваш_адрес_электронной_почты';"><img src="icons\email.png" alt="Image 3"></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
