<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berserk</title>
    <link rel="stylesheet" href="static\style\about.css">
</head>
<body>
    <div class="window">
        <div class="logoFrame">
            <img src="static\icons\logo.svg" alt="Логотип" class="logo">
            
            <a href="/arts"><button class="ArtsButton">ARTS</button></a>
            <a href="/hello"><button class="homeButton">HOME</button></a>
        </div>
        <div class="mainFrame">

            % for art in dict['about']:
                <div class="subframe">
                    <div class="text-container">{{art.hieroglyph}}</div>
                    <div class="text-container black">{{art.name}} {{art.surname}}</div>
                    <div class="buttons-frame">
                        <button onclick="window.location.href='{{art.href_git}}';">
                            <img src="static\icons\git.png" alt="Image 1"/>
                        </button>
                        <button onclick="window.location.href='{{art.href_telegram}}';">
                            <img src="static\icons\telegram.png" alt="Image 2"/>
                        </button>
                        <button onclick="window.location.href='mailto:{{art.href_email}}';">
                            <img src="static\icons\email.png" alt="Image 3"/>
                        </button>
                    </div>
                </div>
            % end
        </div>
    </div>
</body>
</html>
