<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berserk</title>
    <link rel="stylesheet" href="static\style\arts.css">
</head>
<body>
    <div class="window">
        <div class="logoFrame">
            <img src="static\icons\logo.svg" alt="Логотип" class="logo">
            <a href="/about"><button class="aboutButton">ABOUT</button></a>
            <a href="/hello"><button class="homeButton">HOME</button></a>
            
        </div>
        
        <div class="mainFrame">
            % for art in dict['arts']:
                <div class="subframe">
                    <div class="text-container">{{art.hieroglyph}}</div>
                    <img src="{{art.pathImage}}" alt="Картинка" class="image-top-right">
                    <div class="text-bottom-left">{{art.name}}</div>
                    <div class="text-bottom-center">{{art.quote}}</div>
                </div>
            % end
        </div>
    </div>
</body>
</html>
