<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berserk</title>
    <link rel="stylesheet" href="hello.css">
</head>
<body>
    <div class="window">
        <div class="frame1">
          <img src="icons/logo.svg" alt="Логотип" class="logo">
        </div>
        <div class="frame2">
          <div class="subframe">
            <img src="icons\image4.jpg" alt="Картинка" class="image">
            <div class="text">エクリプス</div>
            <div class="text2">人類の運命</div>
          </div>
          <div class="nested-frame">
            <div class="nested-text">THE ECLIPCE</div>
            <div class="nested-text2" >"Eclipse" in Berserk is an epic saga depicting struggles, power-hungriness, 
                and dark forces. The main protagonist, Guts, seeks revenge against his former leader Griffith, who betrayed their band. 
                Along his journey, he encounters various dangers, demons, and his own inner demons. The richly woven plot, filled with battles, 
                friendship, and betrayal, makes "Eclipse" a magnificent work of dark fantasy genre. In the heart of the tumultuous world of 'Eclipse', 
                alliances shift like shadows, and every step forward brings Guts closer to the heart of darkness he seeks to confront.</div>
            <img src="icons\image5.jpg" alt="Картинка" class="bottom-right-image">
            <button class="button1">ARTS</button>
            <button class="button2">ABOUT</button>
            <div class="additional-text">あなたの友人</div>
        </div>
      </div>
</body>
</html>
