<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Кодировка и viewport для правильного отображения страницы -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Название страницы -->
    <title>Berserk</title>
    <!-- Подключение внешнего CSS-файл для стилизации страницы -->
    <link rel="stylesheet" href="static/style/hello.css">
</head>
<body>
    <!-- Общий контейнер для всего контента -->
    <div class="window">
        <!-- Контейнер для логотипа -->
        <div class="logoFrame">
            <!-- Логотип в формате SVG -->
            <img src="static/icons/logo.svg" alt="Логотип" class="logo">
        </div>
        <!-- Основной контейнер для контента -->
        <div class="mainFrame">
            <!-- Внутренний контейнер -->
            <div class="subframe">
                <!-- Картинка -->
                <img src="static/icons/image4.jpg" alt="Картинка" class="image">
                <!-- Текст на японском языке -->
                <div class="text">エクリプス</div>
                <!-- Текст на японском языке -->
                <div class="text2">人類の運命</div>
            </div>
            <!-- Вложенный контейнер -->
            <div class="nested-frame">
                <!-- Текст на английском языке -->
                <div class="nested-text">THE ECLIPCE</div>
                <!-- Описание сюжета манги Berserk -->
                <div class="nested-text2">"Eclipse" in Berserk is an epic saga depicting struggles, power-hungriness, and dark forces. The main protagonist, Guts, seeks revenge against his former leader Griffith, who betrayed their band. Along his journey, he encounters various dangers, demons, and his own inner demons. The richly woven plot, filled with battles, friendship, and betrayal, makes "Eclipse" a magnificent work of dark fantasy genre. In the heart of the tumultuous world of 'Eclipse', alliances shift like shadows, and every step forward brings Guts closer to the heart of darkness he seeks to confront.</div>
                <!-- Картинка в правом нижнем углу -->
                <img src="static/icons/image5.jpg" alt="Картинка" class="bottom-right-image">
                <!-- Кнопка "ARTS" -->
                <a href="/arts"><button class="artsButton">ARTS</button></a>
                <!-- Кнопка "ABOUT" -->
                <a href="/about"><button class="aboutButton">ABOUT</button></a>
                
                <!-- Дополнительный текст на японском языке -->
                <div class="additional-text">あなたの友人</div>
            </div>
        </div>
    </div>
</body>
</html>