/* Стили для основного контейнера */
.window {
    position: absolute; /* Размещение контейнера абсолютно, относительно первого позиционированного предка */
    top: 0; /* Контейнер находится вверху */
    left: 0; /* Контейнер находится слева */
    width: 100vw; /* Ширина контейнера равна 100% ширины видимой области */
    height: 100vh; /* Высота контейнера равна 100% высоты видимой области */
    overflow: hidden; /* Скрытие содержимого, выходящего за пределы контейнера */
}

/* Стили для первого фрейма */
.logoFrame {
    position: absolute; /* Размещение фрейма абсолютно, относительно первого позиционированного предка */
    top: 0; /* Фрейм находится вверху */
    left: 0; /* Фрейм находится слева */
    width: 100%; /* Ширина фрейма равна 100% родительского контейнера */
    height: 300px; /* Высота фрейма 300 пикселей */
    background-color: #000000; /* Цвет фона черный */
    display: flex; /* Использование flexbox для выравнивания содержимого */
    justify-content: center; /* Выравнивание содержимого по центру по горизонтали */
    align-items: center; /* Выравнивание содержимого по центру по вертикали */
}

/* Стили для изображения логотипа */
.logo {
    width: 700px; /* Ширина логотипа 700 пикселей */
    height: 500px; /* Высота логотипа 500 пикселей */
}

.mainFrame {
    position: absolute; /* Размещение фрейма абсолютно, относительно первого позиционированного предка */
    top: 300px; /* Фрейм располагается 300 пикселей сверху */
    left: 0; /* Фрейм находится слева */
    width: 100%; /* Ширина фрейма равна 100% родительского контейнера */
    height: calc(100% - 300px); /* Высота фрейма вычисляется как 100% высоты родительского контейнера минус 300 пикселей */
    background-color: white; /* Цвет фона белый */
    border: 10px solid black; /* Граница фрейма черная толщиной 10 пикселей */
    display: flex; /* Использование flexbox для выравнивания содержимого */
    flex-direction: flex; /* Направление основной оси flexbox в соответствии с направлением текста (слева направо) */
    justify-content: flex-start; /* Выравнивание содержимого по левому краю */
    align-items: flex-start; /* Выравнивание содержимого по верхнему краю */
    gap: 10px; /* Расстояние между дочерними элементами 10 пикселей */
    padding: 10px; /* Внутренний отступ фрейма 10 пикселей */
    box-sizing: border-box; /* Размеры элемента включают в себя границу и внутренний отступ */
}

.subframe {
    width: 640px; /* Ширина подфрейма 640 пикселей */
    height: 95%; /* Высота подфрейма 95% относительно родительского фрейма */
    margin-top: 0; /* Верхний внешний отступ равен 0 */
    margin-bottom: 0px; /* Нижний внешний отступ равен 0 пикселей */
    padding-left: 35px; /* Левый внутренний отступ 35 пикселей */
    border: 5px solid #000000; /* Граница подфрейма черная толщиной 5 пикселей */
    display: flex; /* Использование flexbox для выравнивания содержимого */
    flex-direction: column; /* Направление основной оси flexbox: колонка */
    position: relative; /* Позиционирование относительно своего нормального положения */
    transition: transform 0.3s ease; /* Плавное изменение свойства transform за 0.3 секунды */
}

.subframe:hover {
    transform: scale(1.1); /* Увеличение масштаба подфрейма при наведении на него */
}

.image-top-right {
    position: absolute; /* Размещение изображения абсолютно, относительно ближайшего позиционированного предка */
    top: 0; /* Изображение располагается вверху */
    right: 0; /* Изображение располагается справа */
    width: 400px; /* Ширина изображения 400 пикселей */
    height: 450px; /* Высота изображения 450 пикселей */
}

.text-bottom-left {
    position: absolute; /* Размещение текста абсолютно, относительно ближайшего позиционированного предка */
    bottom: 80px; /* Текст располагается 80 пикселей снизу */
    left: 0; /* Текст располагается слева */
    font-family: 'Poppins', sans-serif; /* Семейство шрифтов текста */
    font-size: 80px;
    font-weight: bold; /* Жирное начертание текста */
}

.text-bottom-center {
    position: absolute; /* Размещение текста абсолютно, относительно ближайшего позиционированного предка */
    bottom: 0; /* Текст располагается внизу */
    left: 0; /* Текст располагается слева */
    width: 100%; /* Ширина текста равна 100% родительского элемента */
    text-align: left; /* Выравнивание текста по левому краю */
    font-family: 'Poppins', sans-serif; /* Семейство шрифтов текста */
    font-size: 20px; /* Размер шрифта 20 пикселей */
    font-weight: bold; /* Жирное начертание текста */
    padding: 5px; /* Внутренний отступ текста 5 пикселей */
    margin: 0; /* Внешний отступ текста отсутствует */
}

.subframe:nth-child(1) {
    background-color: #FFFFFF; /* Цвет фона первого подфрейма белый */
}

.subframe:nth-child(2) {
    background-color: #FFFFFF; /* Цвет фона второго подфрейма белый */
}

.subframe:nth-child(3) {
    background-color: #FFFFFF; /* Цвет фона третьего подфрейма белый */
}

.text-container {
    display: flex; /* Использование flexbox для выравнивания содержимого */
    justify-content: left; /* Выравнивание содержимого по левому краю */
    align-items: top; /* Выравнивание содержимого по верхнему краю */
    height: 100%; /* Высота контейнера равна 100% */
    color: #ff0000; /* Цвет текста красный */
    font-family: 'Poppins', sans-serif; /* Семейство шрифтов текста */
    font-size: 120px; /* Размер шрифта 120 пикселей */
    margin-right: 10px; /* Правый внешний отступ контейнера 10 пикселей */
    font-weight: bold; /* Жирное начертание текста */
}

/* Стили для кнопок */
.aboutButton,
.homeButton {
    position: absolute; /* Размещение кнопок абсолютно, относительно ближайшего позиционированного предка */
    font-family: 'Poppins', sans-serif; /* Семейство шрифтов текста */
    font-size: 40px; /* Размер шрифта кнопок 40 пикселей */
    font-weight: bold; /* Жирное начертание текста */
    width: 211px; /* Ширина кнопок 211 пикселей */
    height: 91px; /* Высота кнопок 91 пикселей */
    color: #FFFFFF; /* Цвет текста кнопок белый */
    border: none; /* Без границы */
    background: none; /* Фон отсутствует */
    cursor: pointer; /* Изменение вида курсора при наведении на кнопку */
    text-align: right; /* Выравнивание текста по правому краю */
}

/* Позиционирование первой кнопки */
.homeButton {
    top: 230px; /* Кнопка находится на расстоянии 230 пикселей сверху */
    right: 20px; /* Кнопка находится на расстоянии 20 пикселей справа */
}

.aboutButton {
    top: 230px; /* Кнопка находится на расстоянии 230 пикселей сверху */
    right: 170px; /* Кнопка находится на расстоянии 170 пикселей справа */
}

.aboutButton:hover {
    color: #ff0000; /* Цвет текста кнопки изменяется на красный при наведении */
}

.homeButton:hover {
    color: #ff0000; /* Цвет текста кнопки изменяется на красный при наведении */
}
